/* Holden Ernest - 2/2/2024 */
html {
    height: 100%;
}
body {
    background-color: #333;
    color: gainsboro;
    user-select: none;
    overflow-y: hidden;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#title {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
#input2 {
    padding-left: 5px;
    height: 25px;
    width: 200px;
    overflow: auto;
    outline: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #444;
    color: #CCC;
    border: 2px solid #222;
}
#headerMenu {
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    display: flex;
    border-bottom: 2px solid #222;
    
}
#headerMenu label {
    cursor: pointer;
    background-color: #222;
    width: 80px;
    height: 70%; 
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
}
#headerMenu input {
    display: none;
}
#headerMenu label:hover {
    background-color: #111;
}
.menuButton:checked + label {
    background-color: #444 !important;
    font-weight: bold;
}
.content {
    display: block;
    margin-top: 50px;
    height:100%;
}
#general {
    display: none;
}
#lists {
    /*display: none;*/
}
#other {
    display: none;
}
.placeholder {
    display: none;
}

/*Lists Page*/
#allLists {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 150px;
    border: 2px solid #222;
    margin:0px;
}
#allLists::-webkit-scrollbar {
    display: none;
}
#allLists div {
    background-color: #333;
    display: inline;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#allLists div:hover {
    background-color: #222;
}
#listRename {
    font-size: 25px;
    position: fixed;
    left: 180px;
    top: 70px;
    height: 40px;
    width: 250px;
    background-color: #222;
    color:gainsboro !important;

    border: none;
    overflow: auto;
    outline: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    padding-left: 10px;
}
.activeButton {
    background-color: #222 !important;
    color:gainsboro !important;
}
.activeButton:hover {
    background-color: #444 !important;
}
#listRenameButton {
    background-color: #2c2c2c;
    color: #CCC;
    font-size: 15px;
    position: fixed;
    left: 450px;
    top: 70px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#perms {
    font-size: 25px;
    position: fixed;
    left: 180px;
    top: 125px;
    height: auto;
    width: 250px;
    background-color: #444;

}
#permTable {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 150px;
    width: 100%;
    background-color: red;
    margin:0px;
    
}
#permTable div {
    font-size: 16px;
    color:white;
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    height:25px;
}
#permTable::-webkit-scrollbar {
    display: none;
}
#permAdd {
    display: inline;
}
#permAdd * {
    display: inline;
}
.permOptions {
    height: 100%;
    width: 30px;
}
